[Match]
Name={{item}}

[Network]
VLAN=bgp{{item}}
{% if l2_access==True %}
Address=172.16.{{ 254 | random(seed=inventory_hostname+item)}}.{{ (3 | random(seed=inventory_hostname+item)*64) + 1}}/26
DHCPServer=true
{% endif %}

[Link]
MTUBytes=9000
ActivationPolicy=always-up
RequiredForOnline=no

{% if l2_access==True %}
[DHCPServer]
EmitDNS=yes
DNS=1.1.1.1
BindToInterface=yes
{% endif %}
